
section.login{
    text-align: center;
    margin:150px;
    padding:50px;
    border-radius:5px;
    background: white;
    box-shadow: 10px 8px 54px -17px rgba(0,0,0,0.75);   
}

form.form{
    width:100%;
    max-width:250px;
    text-align: center;
    margin:0 auto;
}

.subtitle{
    color:#0081BD;
    margin-bottom:20px;
    margin-top:20px;
}

p{
    padding:5px;
    margin:0;
    color:#FF9D00;
    font-weight: bold;
}

input{
    height:30px;
    width:100%;
    margin-bottom:5px;
    border-radius:3px;
    border: 1px solid #d4d4d4;
    padding:3px;
}
label{
    text-align: left!important;
}

.btn-sucess{
    background:#0081BD;

    
    color:white;
    padding:10px;
    width:100%;
    max-width:150px;
    border:none;
    cursor: pointer;   
    margin: 0 auto;     
}

small.error-text{
     color:red;
    float:left;
}

input.ng-invalid.ng-touched{
    border:1px solid red;
}

input.ng-valid.ng-touched{
    border: 1px solid #d4d4d4;
}

@media (max-width: 720px){
    section.login{
        margin:0px!important;    
    }
}